FDOQceQ6OZvGlkYe-Exception_Check_with_Webhook.json
{
  "name": "Exception Check with Webhook",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "C:/Users/vkim/Desktop/Jira_tickets_library/CIA-16733.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1536,
        384
      ],
      "id": "37986a83-003e-443b-8191-759ad9af1902",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "metadata",
                "value": "={{ $json.metadata }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -16,
        720
      ],
      "id": "76b808ff-e7a7-436b-aef8-da6008207607",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "xml",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1328,
        384
      ],
      "id": "8cd0346c-bf0d-4007-bab5-5052a4d4eb24",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        656
      ],
      "id": "f42f2922-1244-47b2-96c8-61ee9b101c96",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mu7DWhBGt5FGCPTm",
          "name": "shared openai key - Vincent"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are an assistant analyzing error logs with access to the Supabase Vector Store tool.\n\n\nThe `Supabase Vector Store For Matches` tool returns a list of results in the variable `vector_results`.\nInstructions:\n\n1. You MUST call the Supabase Vector Store tool using the **full, unedited error log** exactly as provided by the user.  \n   - Do not shorten, summarize, or clean the text.  \n   - Stack traces, timestamps, and container names must remain untouched.  \n\n2. Always use the full error log as input when calling the Supabase Vector Store.  \n   - Never use partial logs.  \n   - Never skip this tool call, even if the log seems trivial.\n\n---\n\n3. If `vector_results` is not empty:\n\n   - Deduplicate results using `ticket_number`.\n\n   - For each result, assess whether the ticket is truly relevant to the current error log:\n     - Only include tickets where the **main issue** described in the `ticket_title` or `ticket_description` clearly overlaps with the current log’s core error or service.\n     - Do not include a ticket just because it happens to contain an unrelated stack trace or generic exception name (e.g., `Broken pipe`).\n     - Only include tickets that exist within Supabase. Do not create \"fake jira tickets\" or tickets that were not saved within the Supabase vector DB. If no relevant jira ticket exist, simply do not try to link a ticket in the final summarization message.\n     - It is also possible that a service can have multiple different exceptions. Try to summarize each unique exception. \n     - Note that NPE = NullPointerException. Use that when trying to find relevant tickets for the issue in the log. \n\n     For example:\n     - Include: A ticket titled \"AmazonRekognitionException when calling FaceSearch\" if the log is about Amazon Rekognition failure.\n     - Exclude: A ticket for \"Merge Matcher NPE\" that also happens to include an AmazonRekognitionException stack trace somewhere in the description.\n\n   - For each valid result, respond in this format:\n     `<short error type>, bug filed before <https://jira.equilar.com/browse/CIA-XXXXX|CIA-XXXXX>`\n\n       Example: INFO 2025-10-22T07:36:56.891959670Z [resource.labels.containerName: merge-matcher] 2025-10-22 00:36:56,891 ERROR [AWSFaceSearchServiceImpl:158] Got exception when matching faces in AWS https://cdn.sanity.io/images/30p7so6x/eqt-public-web-prod/86c796fd2c6fceada327881f10d49b577103f20b-4000x4000.png?w=358&h=358&auto=format\nINFO 2025-10-22T07:36:56.891737088Z [resource.labels.containerName: merge-matcher] com.fasterxml.jackson.databind.exc.MismatchedInputException: Cannot deserialize value of type `com.amazonaws.services.rekognition.model.AmazonRekognitionException` from [Unavailable value] (token `JsonToken.NOT_AVAILABLE`) at [Source: UNKNOWN; line: -1, column: -1] \n\n      For the above exception report, an appropriate response should look like:\n\nAmazonRekognitionException, bug filed before CIA-20840\n     \n      since AmazonRekognitionException is the main issue & CIA-20840 can be found in the vector store.      \n\n     - Extract the `short error type` from the `ticket_title` or `ticket_description`, and make it concise (≤5 words).\n     - Never generate the error label from the user log.\n     - Do not include vague or generic labels like `Exception`, `Failure`, or repeated class names.\n     - Use distinct lines for each result.\n---\n\n4. If `vector_results` is empty:\n\n   - Analyze the full error log text as-is.\n   - If `vector_results` is empty, NEVER return a bug ticket.\n   - Choose only **one** of the following responses:\n\n     a. If it indicates a genuine error/failure:\n        - Return a short summary (≤25 words) describing the core issue.\n\n     b. If the log does **not** represent a real error (e.g. retry success, expected fallback, harmless info):\n        - Respond with this **exact text**:  \n          `No error logs found`\n\n   -  Always prefer option a over b if the log includes an error class, exception, stack trace, or failure indication.\n   - Never return both a summary and \"No error logs found\".\n   - Always choose option a if the log includes **known error classes** like:\n     - `NullPointerException`\n---\n\nGeneral Rules:\n- Do not include explanations, raw logs, or filler text.\n- Focus on **accurately linking real tickets** or concisely summarizing actual failures.\n- Be strict: only return meaningful, high-quality references.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        432,
        64
      ],
      "id": "c84c6403-7088-4a10-87b6-db3f7c54f78f",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        320
      ],
      "id": "91958ee7-2ba8-461e-ae0f-56eb324a6ee6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mu7DWhBGt5FGCPTm",
          "name": "shared openai key - Vincent"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -240,
        432
      ],
      "id": "4e65344c-9090-4ce9-90ea-e6a77755809b",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "QVS24qi1aNuxdIyn",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Get query from input\nconst query = $json.query || \"\";\n\n// Replace newlines with a space\nconst cleaned = query.replace(/\\n+/g, ' ').trim();\n\n// Limit to first 1000 words\nconst limited = cleaned.split(/\\s+/).slice(0, 500).join(' ');\n\nreturn [\n  {\n    json: {\n        query: limited\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        80
      ],
      "id": "5eb295d2-234c-4e09-8320-3661c76f7e1e",
      "name": "remove /n & limit 500 words"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://logging.googleapis.com/v2/entries:list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer test_token"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify(\n    (() => {\n      let init = {};\n\n      // Safely extract body_json\n      try {\n        const raw = $('Init Pagination Data').item.json.body_json ?? {};\n        if (typeof raw === \"string\") {\n          init = JSON.parse(raw);\n        } else if (typeof raw === \"object\") {\n          init = raw;\n        }\n      } catch (e) {\n        init = {};\n      }\n\n      // Token from previous loop\n      const token = $('Loop Check').first().json.nextPageToken;\n\n      // Always include resourceNames\n      const requestBody = {\n        resourceNames: init.resourceNames || [\"projects/your-project\"]\n      };\n\n      if (token) {\n        // Subsequent calls\n        if (init.filter) requestBody.filter = init.filter;\n        requestBody.pageToken = token;\n      } else {\n        // First call\n        if (init.filter) requestBody.filter = init.filter;\n        if (init.pageSize) requestBody.pageSize = init.pageSize;\n      }\n\n      return requestBody;\n    })()\n  )\n}}\n",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        80
      ],
      "id": "5a8f083f-b4e5-4283-b32d-8b66bde24ae4",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    nextPageToken: null,\n    collectedLogs: [],\n    project:$input.first().json.project,\n    body_json: $json.body_json\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        80
      ],
      "id": "094c1858-04f4-463a-b7a9-a4d4990c1ebc",
      "name": "Init Pagination Data"
    },
    {
      "parameters": {
        "jsCode": "let isFirstRun = true;\nlet token = null;\nlet count = 0;\n\ntry {\n  const appendResult = $('Append Results').first().json;\n  token = appendResult.nextPageToken;\n  count = appendResult.iterationCount ?? 0;\n  isFirstRun = false;\n} catch (e) {\n  isFirstRun = true;\n}\n\nif (isFirstRun) {\n  const init = $('Init Pagination Data').first().json;\n  return [\n    {\n      json: {\n        project: init.project,\n        body_json: init.body_json,\n        iterationCount: 1\n      }\n    }\n  ];\n} else {\n  count += 1;\n\n  if (count > 50) {\n    // Optional: Return empty to break the loop\n    return [];\n  }\n\n  return [\n    {\n      json: {\n        nextPageToken: token,\n        iterationCount: count\n      }\n    }\n  ];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        80
      ],
      "id": "6b7b2816-b3e0-4886-a357-251650d4e8dc",
      "name": "Loop Check"
    },
    {
      "parameters": {
        "jsCode": "const nextPageToken = $('HTTP Request').first().json.nextPageToken ?? null;\nconst count = $('Loop Check').first().json.iterationCount;\n\nreturn [\n  {\n    json: {\n      nextPageToken,\n      iterationCount: count\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        80
      ],
      "id": "f32443f8-c389-40cb-aef9-851353d5d4f5",
      "name": "Append Results"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5e60d293-cf44-46ad-bd2f-c04fbef504f9",
                    "leftValue": "={{ $json.iterationCount }}",
                    "rightValue": "50",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.nextPageToken }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "6c9e5a66-2926-4f33-bf0a-45a5b37419f2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea844428-3a4c-4f5d-a455-5ff197f7189d",
                    "leftValue": "={{ $json.nextPageToken }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        80
      ],
      "id": "b45d3b8e-0367-4988-bb71-b6c8e2186f61",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2145fe59-8645-4490-a6fe-e67edee84072",
              "name": "query",
              "value": "={{\n  (() => {\n    const entries = $('HTTP Request').item.json.entries || [];\n    if (entries.length === 0) return \"\";\n\n    const container = entries[0].resource.labels.container_name;\n\n    const errors = entries.map(entry => \n      `Error:\\n${entry.textPayload}`\n    );\n\n    return `Container: ${container}\\n\\n` + errors.join('\\n\\n---\\n\\n');\n  })()\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        80
      ],
      "id": "688709e1-9e5a-4db5-802c-78b133fe4090",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.text }}",
                    "rightValue": "error(s)",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "8d2c67e1-a33e-4ebc-8414-f2a84a9a04ea"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1616,
        80
      ],
      "id": "88c7b6ff-1912-47da-a182-4ffdd41074a2",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Safe data resolver for Slack Webhook input structure\nconst data = $input.item.json.body?.event || $input.item.json.body || $input.item.json;\n\n// Slack sometimes puts the message under `message`\nconst msg = data.message || data;\n\n// Try to get text first\nlet text = msg.text || \"\";\n\n// If still empty, try blocks\nif (!text && msg.blocks) {\n  try {\n    const linkElement = msg.blocks\n      .flatMap(b => b.elements || [])\n      .flatMap(el => el.elements || [])\n      .find(el => el.type === \"link\");\n\n    if (linkElement && linkElement.url) {\n      // Rebuild into Slack-style format so regex still works\n      text = `<${linkElement.url}|${linkElement.text || \"Link\"}>`;\n    }\n  } catch (e) {\n    console.log(\"Could not extract from blocks:\", e.message);\n  }\n}\n\n// If still nothing, try attachments\nif (!text && msg.attachments && msg.attachments[0]?.from_url) {\n  text = `<${msg.attachments[0].from_url}|Attachment>`;\n}\n\n// Simple query string parser function\nfunction parseQueryString(qs) {\n  const params = {};\n  if (!qs) return params;\n  const pairs = qs.split(\"&\");\n  for (const pair of pairs) {\n    const [key, value] = pair.split(\"=\");\n    if (key) {\n      try {\n        params[key] = decodeURIComponent(value || \"\");\n      } catch {\n        params[key] = value || \"\";\n      }\n    }\n  }\n  return params;\n}\n\nconst defaultProject = $input.item.json.defaultProject || \"\";\nconst pageSize = Number($input.item.json.pageSize || 1000);\n\n// Extract Slack-style URL from message text\nconst slackLinkMatch = text.match(/<([^>|]+)(?:\\|[^>]+)?>/);\nif (!slackLinkMatch) return { error: \"No Slack-style URL found in message.\", text };\nconst rawUrl = slackLinkMatch[1].replace(/&amp;/g, \"&\");\n\n// Parse URL path and query\nconst [pathPart, queryString] = rawUrl.split(\"?\");\nconst [basePath, ...pathParamsRaw] = pathPart.split(\";\");\n\n// Parse ;key=value path params\nconst pathParams = {};\nfor (const segment of pathParamsRaw) {\n  const [key, value] = segment.split(\"=\");\n  if (key && value) pathParams[key] = value;\n}\n\n// Parse query parameters using custom parser\nconst qsParams = parseQueryString(queryString);\n\n// Extract startTime and endTime from parsed query params\nlet startTime = pathParams.startTime || qsParams.startTime || null;\nlet endTime = pathParams.endTime || qsParams.endTime || null;\n\n// Decode helper for double-encoded strings\nconst decodeTwice = (s) => {\n  if (s == null) return s;\n  try { return decodeURIComponent(decodeURIComponent(s)); }\n  catch { try { return decodeURIComponent(s); } catch { return s; } }\n};\n\n// Extract `query` filter from path/query params\nlet filter = pathParams.query ? decodeTwice(pathParams.query)\n          : qsParams.query ? decodeTwice(qsParams.query)\n          : \"\";\n\n// Extract timeRange param if start/end missing\nconst trRaw = pathParams.timeRange || qsParams.timeRange;\nif (!startTime && !endTime && trRaw) {\n  const tr = decodeTwice(trRaw);\n  const [s, e] = tr.split(\"/\");\n  if (s) startTime = s;\n  if (e) endTime = e;\n}\n\n// Get project from query params or fallback\nlet project = qsParams.project || defaultProject;\nif (!project) return { error: \"Missing project id; add ?project=... or set defaultProject.\" };\n\n// Compose final filter\nconst filterParts = [];\nif (startTime) filterParts.push(`timestamp >= \"${startTime}\"`);\nif (endTime) filterParts.push(`timestamp <= \"${endTime}\"`);\nif (filter) filterParts.push(`(${filter})`);\nconst finalFilter = filterParts.join(\" AND \");\n\n// Build final body for downstream API call\nconst body = {\n  resourceNames: [`projects/${project}`],\n  filter: finalFilter,\n  orderBy: \"timestamp desc\",\n  pageSize: pageSize,\n};\n\n// Output final object\nreturn {\n  url_extracted: rawUrl,\n  project,\n  startTime,\n  endTime,\n  filter: finalFilter,\n  body_json: JSON.stringify(body),\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        80
      ],
      "id": "8455ff3d-74fa-40e0-bfa6-9ec3b24c714e",
      "name": "Extract Info From Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2496868b-9583-47b1-be9b-fc1f1ad33643",
              "leftValue": "={{ $json.error ?? ''}}",
              "rightValue": "timed out",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "201eb880-e4c3-4d4e-b1b0-bdf5fd147b32",
              "leftValue": "={{ $json.error ?? ''}}",
              "rightValue": "server error",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        64
      ],
      "id": "b845b710-4145-4f11-b50f-8bb0c5791100",
      "name": "If AI Agent Node times out"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09B78GNYCQ",
          "mode": "list",
          "cachedResultName": "all-vincent-test"
        },
        "text": "<@U09A2F5JQ2K> The AI Agent node timed out. Please manually verify.",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Webhook').item.json.body.event_ts }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        992,
        -32
      ],
      "id": "2f714d39-9890-4639-9723-27d768ad56d8",
      "name": "If AI Agent Times Out, Ping Vincent/Yifan On Slack",
      "webhookId": "336140e5-85dd-4a05-bb12-d412a0bcd888",
      "credentials": {
        "slackOAuth2Api": {
          "id": "NsY4tdMGPOa6Ce1S",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09B78GNYCQ",
          "mode": "list",
          "cachedResultName": "all-vincent-test"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Webhook').item.json.body.event_ts }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1008,
        176
      ],
      "id": "66d2e236-1375-4959-8b48-50b71521383c",
      "name": "If AI Agent Does Not Time Out, Summarize Exception As Normal",
      "webhookId": "5f34ff4d-3eea-4d25-b59b-9f2778e48a4a",
      "credentials": {
        "slackApi": {
          "id": "6YLYCcxzJ3ZFI9aJ",
          "name": "Slack account vincent-testing"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const xml = $json.data;\nconst itemMatch = xml.match(/<item>([\\s\\S]*?)<\\/item>/);\nif (!itemMatch) return [{ json: { text: \"No <item> found\" } }];\nconst itemXml = itemMatch[1];\n\n// Simple HTML entity decoding function\nfunction decodeHtmlEntities(text) {\n  return text.replace(/&lt;/g, '<')\n             .replace(/&gt;/g, '>')\n             .replace(/&quot;/g, '\"')\n             .replace(/&amp;/g, '&');\n}\n\n// Helper to extract by tag with entity decoding and tag removal\nfunction extract(tag) {\n  const match = itemXml.match(new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)<\\\\/${tag}>`, 'i'));\n  if (!match) return \"\";\n  let content = decodeHtmlEntities(match[1]);\n  content = content.replace(/<a[^>]*>[\\s\\S]*?<\\/a>/gi, ''); // Remove anchors\n  content = content.replace(/<[^>]+>/g, '').trim(); // Remove other tags\n  return content;\n}\n\nconst ticketKey = extract(\"key\");\nconst title = extract(\"title\");\nconst summary = extract(\"summary\");\nconst description = extract(\"description\");\nconst link = extract(\"link\");\n\nconst text = `\nDescription: ${description}`;\n\nreturn [{\n  json: {\n    text,\n    metadata: {\n      ticketKey,\n      title,\n      link,\n      summary\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        384
      ],
      "id": "39eba474-437a-4b6d-a6d6-8d12c1c0410b",
      "name": "Cleanup JSON",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "function decodeHtmlEntities(text) {\n  return text\n    .replace(/&#160;/g, ' ')\n    .replace(/&#8230;/g, '...')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    // Remove any other numeric character references like &#1234;\n    .replace(/&#(\\d+);/g, (_, num) => String.fromCharCode(num));\n}\n\nreturn $input.all().map(item => {\n  let rawText = Array.isArray(item.json.text) ? item.json.text.join('\\n') : item.json.text || '';\n\n  // Decode HTML entities\n  rawText = decodeHtmlEntities(rawText);\n\n  // Split concatenated JSON objects separated by } + whitespace + {\n  const jsonChunks = rawText.split(/}\\s*\\n\\s*{/).map((chunk, i, arr) => {\n    if (i !== 0) chunk = '{' + chunk;\n    if (i !== arr.length - 1) chunk = chunk + '}';\n    return chunk;\n  });\n\n  // Parse each chunk and extract textPayload or fallback to raw chunk\n  const payloads = jsonChunks.map(chunk => {\n    try {\n      const obj = JSON.parse(chunk);\n      return obj.textPayload || '';\n    } catch (e) {\n      return chunk;\n    }\n  });\n\n  // Join extracted messages with double newlines\n  let cleanedText = payloads.filter(Boolean).join('\\n\\n');\n\n  // Normalize newlines and trim spaces\n  cleanedText = cleanedText.replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n').replace(/\\n{2,}/g, '\\n\\n').trim();\n\n  return {\n    json: {\n      text: cleanedText,\n      metadata: item.json.metadata || {},\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        400
      ],
      "id": "8812b634-13fb-43b5-b0a1-caf54a09131a",
      "name": "Remove Unnecessary Words",
      "disabled": true
    },
    {
      "parameters": {
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -672,
        400
      ],
      "id": "b165b793-6b91-4411-8510-c803bb937188",
      "name": "Basic LLM Chain",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -752,
        608
      ],
      "id": "fc929989-0b2b-43fa-bc13-c9f73bc95806",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "mu7DWhBGt5FGCPTm",
          "name": "shared openai key - Vincent"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Return the correct exception error from vector db",
        "tableName": {
          "__rl": true,
          "value": "documents_simple",
          "mode": "list",
          "cachedResultName": "documents_simple"
        },
        "topK": 3,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ ($('remove /n & limit 500 words').item.json.query.match(/Container:\\s*(\\S+)/) || [])[1] }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        528,
        368
      ],
      "id": "ccaf1fc9-590b-4b2a-b250-d1dfeb4e0d00",
      "name": "Supabase Vector Store For Matches",
      "credentials": {
        "supabaseApi": {
          "id": "QVS24qi1aNuxdIyn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-message-processor",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1824,
        80
      ],
      "id": "34c970b7-3beb-427a-9cf9-4bb37e219324",
      "name": "Webhook",
      "webhookId": "a3ebc3cd-d124-4462-8125-33387910e616"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09B78GNYCQ",
          "mode": "list",
          "cachedResultName": "all-vincent-test"
        },
        "text": "<@U09A2F5JQ2K> The error size is too big. Please manually verify.",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Webhook').item.json.body.event_ts }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -48,
        -112
      ],
      "id": "baf46a28-c581-47e4-90d9-d76275c778b4",
      "name": "If Loop Iteration Over 50, Ping Vincent/Yifan On Slack1",
      "webhookId": "336140e5-85dd-4a05-bb12-d412a0bcd888",
      "credentials": {
        "slackOAuth2Api": {
          "id": "NsY4tdMGPOa6Ce1S",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80ef1987-6034-480d-80b4-504e35fbad9e",
              "leftValue": "={{ $json.error.toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -704,
        80
      ],
      "id": "db606d37-d97f-4a87-b66c-c3cf2b4bc801",
      "name": "If Logging API Fails"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09B78GNYCQ",
          "mode": "list",
          "cachedResultName": "all-vincent-test"
        },
        "text": "=<@U09A2F5JQ2K> There was an error when executing the GCP Logging API. Please manually verify:\n\n{{ JSON.stringify($json.error, null, 2) }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Webhook').item.json.body.event_ts }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -496,
        -112
      ],
      "id": "f7b0d87c-768f-4be5-aa63-207e742e591d",
      "name": "If GCP Logging API fails, Ping Vincent/Yifan",
      "webhookId": "decf8c77-161d-40c9-b9e2-fb2eb2d17fa7",
      "credentials": {
        "slackApi": {
          "id": "6YLYCcxzJ3ZFI9aJ",
          "name": "Slack account vincent-testing"
        }
      }
    }
  ],
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store For Matches",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Cleanup JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If AI Agent Node times out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove /n & limit 500 words": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If Logging API Fails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Pagination Data": {
      "main": [
        [
          {
            "node": "Loop Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Check": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Results": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "If Loop Iteration Over 50, Ping Vincent/Yifan On Slack1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract Info From Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Info From Message": {
      "main": [
        [
          {
            "node": "Init Pagination Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "remove /n & limit 500 words",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If AI Agent Node times out": {
      "main": [
        [
          {
            "node": "If AI Agent Times Out, Ping Vincent/Yifan On Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If AI Agent Does Not Time Out, Summarize Exception As Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup JSON": {
      "main": [
        [
          {
            "node": "Remove Unnecessary Words",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Unnecessary Words": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store For Matches": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Logging API Fails": {
      "main": [
        [
          {
            "node": "If GCP Logging API fails, Ping Vincent/Yifan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If GCP Logging API fails, Ping Vincent/Yifan": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-equilar.app.n8n.cloud",
            "user-agent": "axios/1.12.0",
            "content-length": "4254",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "4.182.64.64",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9a12e99420f89bc5-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "4.182.64.64, 172.70.251.62",
            "x-forwarded-host": "n8n-equilar.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-46-d85945c6c-gvlwz",
            "x-is-trusted": "yes",
            "x-real-ip": "4.182.64.64"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "message",
            "user": "U09B78G858Q",
            "ts": "1763588822.143149",
            "client_msg_id": "0736bb7d-6000-4884-ba47-9bbde97e7077",
            "text": "scheduler had <https://console.cloud.google.com/logs/query;query=%28resource.labels.namespace_name%3Dcub-prod%20AND%20textPayload%21~%22IllegalArgumentException%7CIllegalStateException%7CInvalidInputException%7CInvocationTargetException%7Cdoc_count_error_upper_bound%7CNo%20error%7Cexceptional%7CExceptional%7CerrorCode%7Cthe%20exception%7Chis%20error%7Cher%20error%7Crecoverable%20stream%20error%7Cnon-terminating%20stream%20error%7Cunmarshall%20exception%7Cerror_%7Cerrors%7CSession%20Expired%7Chuman%20error%7CSuccess%7Cphp%7CINFO%7CWARN%7Crobots.txt%7C%3Cpre%7C%3Cdiv%7C%3Cspan%7C_exception%7Cexceptions%7Cand%20error%7CTemporary%7CFailed%20to%20assign%20merge%7CGot%20error%20code%20400%20from%20doorman%7Crecovery%7CRecovery%7Cerror%5C-%7C%5C-error%7Cexception%5C-%7Cno%20exception%7Cexception%20management%7CThe%20Original%20Source%20Exception%7Cfor%20error%7CDEBUG%7Cdebug%7Cwithout%20exception%7Cexception%20and%7CError%20in%20loading%20https%7CError%20in%20uploding%20image%7CResource%20not%20found%7CFileNotFoundException%3A%20http%7Cjavax.imageio.IIOException%3A%20Can%27t%20get%20input%20stream%20from%20URL%7CError%20in%20face%20crop%20using%20cloudinary%7CError%20in%20downloading%20image%20from%20cloudinary%7CRuntimeException%3A%20Error%20accessing%20url%7CSocketException%3A%20Connection%20or%20outbound%20has%20closed%7CError%20occurred%20when%20getting%20contact%20details%20from%20Salesforce%7CQUALYS%7Cforeign%20key%20constraint%7CConstraintViolationException%7Cdialing%7Cproxying%7Cbounce_classification%7CConnection%20read%7CNo%20such%20file%20or%20directory%7CCallbackEventMessageUtil%7CMalformedURLException%22%20AND%20textPayload%3D~%22Exception%7Cexception%7C%5Cberror%5Cb%7C%5CbError%5Cb%22%29%20AND%20resource.labels.container_name%3Dscheduler;timeRange=2025-11-14T08:00:00.000Z%2F2025-11-15T08:00:00.000Z?referrer=search&amp;project=equilar-1534198563399|12538> error(s) yesterday",
            "team": "T09B78G854G",
            "blocks": [
              {
                "type": "rich_text",
                "block_id": "aXNFx",
                "elements": [
                  {
                    "type": "rich_text_section",
                    "elements": [
                      {
                        "type": "text",
                        "text": "scheduler had "
                      },
                      {
                        "type": "link",
                        "url": "https://console.cloud.google.com/logs/query;query=%28resource.labels.namespace_name%3Dcub-prod%20AND%20textPayload%21~%22IllegalArgumentException%7CIllegalStateException%7CInvalidInputException%7CInvocationTargetException%7Cdoc_count_error_upper_bound%7CNo%20error%7Cexceptional%7CExceptional%7CerrorCode%7Cthe%20exception%7Chis%20error%7Cher%20error%7Crecoverable%20stream%20error%7Cnon-terminating%20stream%20error%7Cunmarshall%20exception%7Cerror_%7Cerrors%7CSession%20Expired%7Chuman%20error%7CSuccess%7Cphp%7CINFO%7CWARN%7Crobots.txt%7C%3Cpre%7C%3Cdiv%7C%3Cspan%7C_exception%7Cexceptions%7Cand%20error%7CTemporary%7CFailed%20to%20assign%20merge%7CGot%20error%20code%20400%20from%20doorman%7Crecovery%7CRecovery%7Cerror%5C-%7C%5C-error%7Cexception%5C-%7Cno%20exception%7Cexception%20management%7CThe%20Original%20Source%20Exception%7Cfor%20error%7CDEBUG%7Cdebug%7Cwithout%20exception%7Cexception%20and%7CError%20in%20loading%20https%7CError%20in%20uploding%20image%7CResource%20not%20found%7CFileNotFoundException%3A%20http%7Cjavax.imageio.IIOException%3A%20Can%27t%20get%20input%20stream%20from%20URL%7CError%20in%20face%20crop%20using%20cloudinary%7CError%20in%20downloading%20image%20from%20cloudinary%7CRuntimeException%3A%20Error%20accessing%20url%7CSocketException%3A%20Connection%20or%20outbound%20has%20closed%7CError%20occurred%20when%20getting%20contact%20details%20from%20Salesforce%7CQUALYS%7Cforeign%20key%20constraint%7CConstraintViolationException%7Cdialing%7Cproxying%7Cbounce_classification%7CConnection%20read%7CNo%20such%20file%20or%20directory%7CCallbackEventMessageUtil%7CMalformedURLException%22%20AND%20textPayload%3D~%22Exception%7Cexception%7C%5Cberror%5Cb%7C%5CbError%5Cb%22%29%20AND%20resource.labels.container_name%3Dscheduler;timeRange=2025-11-14T08:00:00.000Z%2F2025-11-15T08:00:00.000Z?referrer=search&project=equilar-1534198563399",
                        "text": "12538"
                      },
                      {
                        "type": "text",
                        "text": " error(s) yesterday"
                      }
                    ]
                  }
                ]
              }
            ],
            "channel": "C09B78GNYCQ",
            "event_ts": "1763657524.440199",
            "channel_type": "channel"
          },
          "webhookUrl": "https://n8n-equilar.app.n8n.cloud/webhook/slack-message-processor",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}